node_modules
.next
out
.git
.gitignore
.env*
!.env.example
*.md
!README.md
*.pdf
*.docx
tsconfig.tsbuildinfo
next-env.d.ts
npm-debug.log*
.vercel
.DS_Store
deploy
Dockerfile
docker-compose*.yml
.dockerignore
